.side_menu {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
    height: 100vh;
    flex-direction: column;
}

.categories_tweet {
    /* background-color: bisque; */
    margin: 0%;
}

.cg_menu_twbird {
    content: url('https://api.iconify.design/logos/twitter.svg?color=%23699bf7&height=25');
    padding-left: 5%;
}



.cg_menu_top {
    width: 28px;
    height: 28px;
}

.side_menu i {
    width: 26px;
    height: 26px;
}
.cg_menu {
    margin: 12% 0%;
    height: 26px;
    display: flex;
    cursor: pointer;
    padding-left: 5%;
}

#cg_menu {
    margin: 12% 0% 8% 0%;
}

.cg_menu_twbird {
    margin-top: 5%;
}

.cg_menu_inside {

display: table;
}

.icon, .subject {
    display: table-cell;
    vertical-align: middle;
}

.cg_menu p {
    font-size: 20px;
    padding: 0px 20px;
}

.menu_icon {
    content: url('https://api.iconify.design/carbon/overflow-menu-horizontal.svg?color=black&height=32');
}

.icon {
    font-size: 22px;
}

.tweet_btn_1 {
    background-color: #1d9bf0;
    color: #ffffff;
    border-radius: 30px;
    text-align: center;
    padding: 15px 5px;
    font-weight: bold;
    width: 80%;
    font-size: 17px;
    cursor: pointer;
}

.profile_link {
    display: flex;
    height: 40px;
    border-radius: 40px;
    /* background-color: aqua; */
    padding: 15px 10px;
    margin: 15px 0px;
    cursor: pointer;
}

.profile_link:hover {
    background-color: #e4e4e4
}

.pl1 {
    width: 20%;
    margin-right: 3%;
}

.pl1 img {
    border-radius: 50%;
    width: 80%;
}

.pl2 {
    width: 60%;
    font-size: 15px;
}

.pl2_1 {
    font-weight: bold;
}

.pl2_2 {
    opacity: 0.8;
}

.pl3 {
    width: 20%;
    content: url('https://api.iconify.design/carbon/overflow-menu-horizontal.svg');
    padding: 5px 0px 5px 15px;
    
}

