.side_menu {
    background-color: bisque;
}

.categories_tweet {
    margin: 0%;
}

.profile_link {
    background-color: blue;
}

.cg_menu_top {
    width: 28px;
    height: 28px;
}

.side_menu i {
    width: 26px;
    height: 26px;
}

.cg_menu {
    margin: 15% 0%;
    height: 26px;
    display: flex;
}

.cg_menu_inside {
display: table;
}

.icon, .subject {
    display: table-cell;
    vertical-align: middle;
}

.cg_menu p {
    font-size: 20px;
    padding: 0px 15px;
}

.icon {
    font-size: 22px;
}
