.sarch_bar{
    border-radius: 60px;
    width: 98%;
    height: 30px;
    background-color: rgb(243, 244, 244);

}
.news_box{
    border-radius: 20px;
    background-color: rgb(243, 244, 244);
}
.news_box h2{
    font-size: 20px;
    padding-top: 10px;
    margin-bottom: 0;
    padding-left: 3%;
    text-transform: capitalize;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
.flex{
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
}
.img_news{
    padding-right: 20px;
}
.img_news img{
    width: 80px;
    height: 65px;
    border-radius: 10px;
}
.news{
    font-size: 13px;
}
.news_category{
    font-weight: right;
    color: #536471;
    text-transform: capitalize;
}
.news_title{
    font-size: 15px;
    font: inherit;
    font-weight: bold;
}
.show_more p{
    margin: 0;
    padding-left: 3%;
    color: rgb(17, 179, 244);
}
.show_more a{
    text-decoration: none;
}

