/* whole settings */
body{
    margin: 0;
}
.main_page {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.side_menu {
    width: 22%;
}

.tweet_news {
    width: 78%;
    display: flex;
    justify-content: space-between;
    /* padding-right: 5%; */
}

.main_tweets {
    width: 52%;
}
.right_news {
    width: 43%;
}


