/* whole settings */
body{
    margin: 0 80px;
}
.main_page {
    display: flex;
    margin: 0%;
    height: 800px;
    width: auto;
}

.side_menu {
    width: 25%;
}

.tweet_news {
    display: flex;
    justify-content: space-between;
    width: 75%;
    /* padding-right: 5%; */
}

.main_tweets {
    width: 52%;
}
.right_news {
    width: 43%;
}


